<div class="row row-centered">
  <div class="col-md-3 col-centered">
    <img src="/assets/images/ban260x260.png" alt="REDSITE"/>

  </div>
</div>
<div class="row row-centered">
  <div class="col-md-5 col-centered">
    <form role="form">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" id="username" name="username" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" class="form-control" />
      </div>

      <input type="submit" value="Вход" />
    </form>
  </div>
</div>
<div class="row row-centered">
  <div class="col-md-3 col-centered">
    <%= link_to 'Пропустить Авторизацию', sensors_path %>
  </div>
</div>