<!DOCTYPE html>
<html>
<head>
  <title>Redsite</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div id="content" class="col-md-12">
      <!--  main content -->

      <%= yield %>

    </div>
  </div>
</div>
</body>
</html>
